body {
    background-color: #262729;
}

h1 {
    color: #D3D3D4;
}

#milk {
    display: inline;
}

#milk_avatar {
    width: 35px;
    height: 35px;
    margin-left: 10px;
    margin-right: 10px;
    opacity: 1;
}

.guilds .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
  
.guilds .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.guilds .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.guilds .tooltip:hover .tooltiptext {
    visibility: visible;
}

.guilds {
    background-color: #2f3136;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-style: solid;
    border-radius: 40px;
    border-color: #202225;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 100%;
}

.guilds .tooltip .guild_avatar {
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 130px;
    height: 130px;
}

.guilds .guild_avatar:hover {
    opacity: 0.5;
}

#username {
    float: right;
    display: inline;
}

#user_avatar {
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

#user_avatar:hover {
    opacity: 0.7;
}

#profile_alert {
    display: none;
    position: absolute;
    bottom: 0px;
}

.header {
    background-color: #36393f;
    color: #D3D3D4;
    font-size: 20px;
    height: 50px;
    padding-top: 5px;
}