<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
        <link href="/static/css/dashboard_nav.css" rel="stylesheet">
        <link href="/static/css/dashboard_prefixes.css" rel="stylesheet">

        <title>Milk Dashboard</title>
    </head>
    <body>
        <div class="header">
            <p id="milk"><img id="milk_avatar" src="https://cdn.discordapp.com/attachments/339112602867204097/816369618619858954/8de961f8b07016371b8bf4e5a4cfd44a.png" alt="Milk">Milk</p>
            <p id="username"><b>{{ user.username }}</b><img id="user_avatar" src="{{ user.avatar_url }}" alt="{{ user.username }}"></p>
        </div>
        <ul>

            <li><image class="text-channel" src="/static/images/text-channel.png" style="width: 20px; height: 20px;"></image><a href="#home">Prefixes</a></li>
            <li><image class="text-channel" src="/static/images/text-channel.png" style="width: 20px; height: 20px;"></image><a href="#news">Verification</a></li>
            <li><image class="text-channel" src="/static/images/text-channel.png" style="width: 20px; height: 20px;"></image><a href="#contact">Reaction Roles</a></li>
            <li><image class="text-channel" src="/static/images/text-channel.png" style="width: 20px; height: 20px;"></image><a href="#about">Levelling</a></li>
        </ul>
        <div id="cards">
            <div class="card text-white bg-dark mb-3" style="width: 500px;">
                <div class="card-body">
                    <h5 class="card-title">Update the prefix</h5>
                    <p class="card-text">Hello fucker! You better update the prefix or I will eat your beans!</p>
                    <div class="input-group mb-3">
                        <input id="text-input" type="text" class="form-control" placeholder="Prefix" aria-label="Prefix" aria-describedby="basic-addon1">
                        <i class="bi bi-check-circle" style="font-size: 35px; color: white; display: inline;"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="alert alert-danger" role="alert" id="profile_alert">
            <strong>Profiles are not implemented yet</strong>
        </div>
        <script src="/static/js/alerts.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    </body>